:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Aşağıdaki satırdan itibaren tasarıma özgü değişkenler tanımladım. */

  --font1: "roboto condensed";
  --font2: "barlow";
  --font3: "quattrocento";
  --font4: "satisfy";

  --yellow: #FDC913;
  --dark-gray: #292929;
  --beige: #FAF7F2;
  --red: #CE2829;


}

/* *{border: 1px solid purple;}
/* Orjinal dosya eki ile gelen ön ayarlar silindi */

.radius1 {
  border: none;
  border-radius: 50px;
}

.radius2 {
  border: none;
  border-radius: 20px;
}

.home-banner {
  background-image: url(assets/iteration-1/home-banner.png);
  width: 1920px;
  height: 1080px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.icons {
  list-style-type: none;
  background: white;
  width: 1920px;
  height: 94px;

  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 0px;
  padding: 0px;
}

.cards {
  width: 1055px;
  height: 419px;

  display: flex;
  margin: 60px auto;
}

.head2 {
  width: 1072px;
  height: 229px;
  text-align: center;

  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.foods {
  width: 1072px;
  height: 449px;
  text-align: center;

  display: flex;
  gap: 30px;
  margin: 10px auto;
}

.footer {
  width: 1920px; 
  height: 560px; 
  background: var(--dark-gray); 
  margin-top: 20px;
  margin-bottom: 20px;
  
  display: flex;
  justify-content: space-between;
  align-items: start;
}
